*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
 
  text-align: center;
}

body{
  background-color:  rgba(255,242,238,255);
}
span a{
background-color: rgba(251,186,113,255);
}

button a{
background-color: rgba(251,186,113,255);
}
header {
display: flex;
justify-content: space-between;
}


.side_nav {
display: flex;
align-items: center;
}

.side_nav ul {
display: flex;
justify-content: space-between;
list-style: none;
align-items: center;
/* margin-top: 30px; */
font-family: 'Poppins', sans-serif;
color: orange;
}

.side_nav ul li {
margin-left: 30px;
}

.side_nav ul a {
text-decoration: none;
color: gray;
}

.side_nav ul li img{
margin-right: 20px;
margin-top: 10px;
}

.side_nav span button {
margin-left: 20px;
background-color:  rgba(251,186,113,255);
padding: 12px 25px 12px 25px;
margin-bottom: 10px;
border-radius: 50px;
font-family: 'Poppins', sans-serif;
border: none;
}

.side_nav span button a {
color: black;
font-size: 15px;
}

#search {
font-family: 'Poppins', sans-serif;
outline: none;
}

.input i {
background-color:  rgba(251,186,113,255);

color: black;
padding: 15px 20px;
border-radius: 5px;
}


.input #search {
padding: 10px 180px 10px 180px;
margin-top: 20px;
margin-left: 30px;
}

.header_prt1 ul {
display: flex;
justify-content: center;
}

.header_prt1 ul li {
margin-top: 20px;
margin-left: 30px;
list-style: none;
}

.header_prt1 a {
text-decoration: none;
font-size: 20px;
font-family: 'Poppins', sans-serif;
color: gray;
}
/* header ends */



/* empty section  */
.empty {
  display: flex;
  justify-content: center;
}



.allover {
  background-color: black;
}

.bottom {
  display: flex;
}

.bottom0 {
  margin-left: 290px;
  line-height: 2;
  letter-spacing: 2px;
  margin-top: 20px;
}

/* .main,
.main1 {
  text-align: center;
  line-height: 2;
  display: flex;
  justify-content: space-evenly;
} */

.empty {
  margin-top: 40px;
}

.empty1 {
  padding-left: 90px;
}

#text,
#country {
  padding: 5px;
  padding-right: 170px;
  margin-bottom: 20px;
}

#inch {
  padding: 5px;
  padding-right: 20px;
}

#doc {
  padding: 5px;
  padding-left: 80px;
}

.atlast {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.atlast a {

  text-decoration: none;
  background-color: rgb(64, 71, 178);
  border: none;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.atlast2 a {
  margin-top: 20px;
  margin-left: 100px;
}
 
 

.main {
  margin-top: 20px;
  
}

span {
  color: green;
}

#star {
  font-size: 5px;
  color: red;
}

.fullbox{
  background-color: rgb(253, 248, 248);
}

/* display */
.dis{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

#file_img{
  padding: 5px 40px 5px 40px;
  border-radius: 3px;
  border: 1px solid grey;
  outline: none;
}

#title,#sold,#size,#Art_title,#country,#price{
  padding: 5px 40px 5px 40px;
  border-radius: 3px;
  border: 1px solid grey;
  outline: none;
}
#des{
  border: 1px solid grey;
  width: 500px;
  height: 160px;
  margin-left: 50px;
}

#price,#perc{
  margin-right: 190px;
}

#search{
  border: 1px solid gray;
}

#headig{
  color:  rgba(251,186,113,255) ;
  padding-top: 10px;
  padding-bottom: 10px;
}

.atlast2 button{
  margin-top: -140px;
  margin-left: 600px;
  background-color: orange;
  padding: 20px 50px 20px 50px;
  border: none;
  border-radius: 50px;
}