* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

/* header starts */
header {
  background-color: white;
  position: sticky;
  top: 0px;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.head1 {
  margin-left: 400px;
}

.head2 {
  margin-top: 30px;
  margin-right: 60px;
}

.head2 a {

  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border-radius: 50px;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;

}

.head2 li {
  list-style: none;
  padding-bottom: 15px;
}

.nav1 ul {
  display: flex;
  position: absolute;
  top: 30px;
  left: 470px;
  padding-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.nav1 li {
  list-style: none;
  padding-left: 40px;
}

.nav1 a {
  text-decoration: none;
  color: black;
}

.nav1 li::after {
  content: "";
  background-color: red;
  display: block;
  height: 3px;
  width: 0%;
  margin: auto;
  transition: 0.7s;
}

.nav1 li:hover::after {
  width: 100%;
}

/* header ends */



/* empty section  */
.empty {
  display: flex;
  justify-content: center;
}



.allover {
  background-color: black;
}

.bottom {
  display: flex;
}

.bottom0 {
  margin-left: 290px;
  line-height: 2;
  letter-spacing: 2px;
  margin-top: 20px;
}

.main,
.main1 {
  text-align: center;
  line-height: 2;
}

.empty {
  margin-top: 40px;
}

.empty1 {
  padding-left: 90px;
}

#text,
#country {
  padding: 5px;
  padding-right: 170px;
  margin-bottom: 20px;
}

#inch {
  padding: 5px;
  padding-right: 20px;
}

#doc {
  padding: 5px;
  padding-left: 80px;
}

.atlast {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.atlast a {

  text-decoration: none;
  background-color: rgb(64, 71, 178);
  border: none;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.atlast2 a {
  margin-top: 20px;
  margin-left: 100px;
}

.main h1 {
  background-color:pink;
  font-size: 50px;
  color: black;
  font-family: 'Courgette', cursive;
  padding-top: 0px;
  padding-bottom: 30px;
}

.main {
  margin-top: 20px;
  background-color: rgba(180, 171, 171, 0.523);
}

span {
  color: green;
}

#star {
  font-size: 5px;
  color: red;
}

.fullbox{
  background-color: rgb(253, 248, 248);
}