*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: white;
    position: sticky;
    top: 0px;
    
}

.header{
    display:flex;
    background-color: white;
    justify-content: space-between;
}

.head2{
     margin-top: 30px;
     margin-right: 60px;
}
.head2 a{
    
        text-decoration: none;
        color:white;
        font-size: 15px;
        font-family: 'Rubik Microbe', cursive;
        
        border-radius: 50px;
        background-color: black;
        padding-left: 20px;
        padding-right: 20px;
       
}

.head2 li {
    list-style: none;
    padding-bottom: 15px;
}

.nav1 ul{
    display: flex;
    position: absolute;
    top:60px;
    left: 170px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
.nav1 li{
    list-style: none;
    padding-left: 40px;
}

.nav1 a{
    text-decoration: none;
    color: black;  
}

  .nav1 li::after{
    content:"";
    background-color: red;
    display: block;
    height: 3px;
    width: 0%;
    margin:auto;
    transition: 0.7s;
  }

  .nav1 li:hover::after{
    width: 100%;
  }
  /* backgroundimg */
  .backimg img{
    width: 1490px;
    height: 700px;
  }

  .tag_hr{
    padding-bottom: 100px;
  }
  .tag_hr p{
      margin-left: 550px;
    font-size: 35px;
    background-color: white;
    width: 380px;
    position: absolute;
    top: 950px;
  }

  .tag1{
    background-color:black;
    height:2px;
     margin-top: 120px;
     width:1000px;
     margin-left: 240px;  
}

.content{
   padding-bottom: 40px;
}
 
.content1{
    display: flex;
}

.content a img{
  width: 400px;
} 
.content3{
    margin-left: 250px 
}


/* display flex for column */

.main{
    display: flex;
    flex-direction: column;
}

.main1{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content:space-evenly;
}
 
 .lightpainting{
  height: 4px;
  background-color: skyblue;
  width: 450px;
  margin-left: 500px;
  margin-top: 50px;
 }

 .yellow{
  display: flex;
  justify-content:space-evenly;
  padding-top: 160px;
 }

 .light{
  font-size: 40px;
  position: absolute;
  top: 2768px;
  left: 650px;
  background-color: white;

 }