* {
    margin: 0px;
    padding: 0px;
}



header {
    background-color: white;
    position: sticky;
    top: 0px;
    color: white;
    z-index: 1;
}


.header {
    display: flex;
    background-color: rgb(1, 0, 0);
    justify-content: space-between;
    align-items: center;
}


.head1 img {
    margin-left: 510px;
    margin-top: 20px;
}


.head2 {
    margin-top: 30px;
    margin-right: 60px;
}



.head2 a {

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Rubik Microbe', cursive;
    border-radius: 50px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}


 


.navigation ul {
    display: flex;
    position: absolute;
    color: white;
    /* top: 60px; */
    left: 580px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}




.navigation li {
    list-style: none;
    padding-left: 40px;
    color: white;
}



.navigation a {
    text-decoration: none;
    color: white;
    text-align: center;
}



.navigation li::after {
    content: "";
    background-color: red;
    display: block;
    height: 3px;
    width: 0%;
    margin: auto;
    transition: 0.7s;
}



.navigation li:hover::after {
    width: 100%;
}



.search {
    position: absolute;
    top: 400px;
    left: 400px;
    text-align: center;
    color: white;
    z-index: 0;
}


.search {
    font-size: 30px;
}

.search p {
    font-size: 20px;
}

#search {
    margin-top: 20px;
    padding: 15px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: white;
    border: none;
    font-size: 20px;
    margin-right: 250px;
}

span button {
    position: relative;

    color: white;
    font-size: 20px;
    border: none;
    left: 500px;
    top: 0px;
    background-color: rgba(242, 194, 2, 0.938);
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
}

.back_groud img {
    width: 1490px;
    height: 900px;
}

.headerdown {
    background-color: rgba(247, 225, 232, 255);
    letter-spacing: 1px;
    padding-bottom: 40px;
    padding-top: 50px;
    display: flex;
}

.headerdown p {
    font-size: 20px;
    margin-left: 200px;

}

.headerdown h1 {
    margin-left: 200px;
    margin-top: 70px;
    font-size: 40px;
}

.headerdowndiv2 img {
    width: 230px;
    margin-left: 50px;
    border-radius: 10px;
}

.slidesilder {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/*  */
main {
    display: flex;
    justify-content: space-evenly;


}

.content img {
    margin-left: 50px;
}

.thing{
    background-color: rgba(244,239,226,255);
    padding-top: 50px;
    padding-bottom: 30px;
}

.top2 {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 30px;
}

.content img {
    width: 350px;
}

.content1 {
    /* display: flex; */
}

.content1 {
    text-align: center;
}

.thing {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.thing h1 {
    font-size: 40px;
    margin-left: 420px;

}

.swipebut button {
    background-color: rgba(244,239,226,255);
    box-shadow: 3px 3px 3px black;
    padding: 15px;
    margin-top: 10px;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
}
.wholeart_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artist_division{
    margin: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 340px;
    height: 530px; 
    display: flex;
    flex-direction: column;
}
.artist_division .profile-image{
    border-radius: 50px;
    width: 250px;
    padding: 40px;
}
.artist_division .profile{
    display: flex;
    flex-direction: column;
}
.artist_division .profile img{
    border-radius: 500px;
    border-top:5px solid white;
    width: 160px;

}
.profile{
    position: relative;
    bottom: 160px;
    left: 90px;
}
.profile .profile2{
    margin-left: 20px;
     line-height: 30px;
}

.artist{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}


.not1 {
    text-align: center;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(191, 214, 214);
    margin-top: 70px;
    height: 300px;
  }
  
  .not1 p {
    font-size: 20px;
    color: gray;
  }
  
  .not1 a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: grey;
  }


  
.foot{
    background-color: rgb(251, 248, 248);
  }
  .foot p{
    background-color: white;
    width: 400px;
    position: absolute;
    text-align: center;
    top:2000px;
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    color: black;
    left: 540px;
    font-family:  sans-serif;
  }
  .foot img{
      width: 900px;
      height: 400px;
      margin-left: 300px;
      opacity: 0.5;
      margin-top: 100px;   
  }
  
  footer{
    background-color: rgba(18, 17, 17, 0.868);
    color: white;
    letter-spacing: 4;
  }
  .foot0{
    line-height: 3;
    margin-left: 30px;
  }
  .foot0 h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  .foot0 p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
   .foot1{
    display: flex;
    justify-content: space-around;
   }
  
   .foot1{
    margin-top: 50px;
    line-height: 3;
   }
   .foot1 h2{
    font-size: 30px;
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 300; */
   }
  
  .foot4 img{
     width: 90px;
  }
  
  #name{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  #feed{
    padding: 16px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .foot3 button{
    padding: 10px;
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 120px;
    margin-top: 10px;
  }
  

  .dum{
    display: flex;
    justify-content: space-between;
  }
  
  .dum2 img{
    margin-top: 60px;
    margin-right: 100px;
    width: 200px;
  }
  
  