*{
  margin: 0px;
  padding: 0px;
  
}
 

header{
  display: flex;
  justify-content: space-between;
 }

 .logo img{
  margin-left: 30px;
 }

 .side_nav1 ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 170px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  color: gray;
 }

 .side_nav1 ul li{
margin-left: 20px;
 }

 .side_nav1 ul a{
  text-decoration: none;
  color: black;
  background-color: orange;
  padding: 15px;
  border-radius: 10px;
  border: none;
  
 }
 
  

 #search{
  font-family: 'Poppins', sans-serif;
  outline: none;
 }
 .input i{
  background-color: orange;
  color: black;
  padding: 13px 20px;
  border-radius: 5px;
 }

#hr1 hr ,#hr2 hr{
  width: 1200px;
  margin-left: 100px;
 }

 .input #search{
  padding: 10px 180px 10px 180px;
  margin-top: 20px;
  margin-left: 30px;
 }
.header_prt1 ul {
  display: flex;
  justify-content: center;
}

.header_prt1 ul li {
  margin-left: 30px;
  list-style: none;
}
.header_prt1 a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: gray;
}



.search1 {
  position: absolute;
  top: 400px;
  left: 400px;
  text-align: center;
  color: white;
  z-index: 0;
}


.search1 {
  font-size: 30px;
}

.search1 p {
  font-size: 20px;
}

#search1 {
  margin-top: 20px;
  padding: 15px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: orange;
  border: none;
  font-size: 20px;
  margin-right: 250px;
}

span button {
  position: relative;

  color: white;
  font-size: 20px;
  border: none;
  left: 500px;
  top: 0px;
  background-color: orange;
  padding-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 16px;
}



body{
  background-color:rgba(255,242,238,255);
  line-height: 1.6;
  letter-spacing: 1px;

} 

main{
  margin-top: -60px;
  width: 600px;
  margin-left: 50px;
}

main span img{
    /* width: 400px; */
    margin-left: 10px;
    margin-top: 100px;
    position: relative;
    left: 20px;
}
 
main img{
  position: relative;
  padding-left: 50px;
  left: 100px;
  padding-top: 50px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}


#parrot{
  font-size: 15px;
 color: black;  
}
.product_txt{
  margin-top: 100px;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}




.product_txt p{
  font-weight:400;
}

.product_txt img{
  width: 30px;
}

#top{
  font-size: 25px;
  font-weight: 400;
  font-weight: 600;
}
#yellow{
  color: orange;
  font-weight: 600;
}
.product_txt h3{
  font-weight: 600;
  
}
#hello{
  
  font-weight: 600;
}
.material{
  padding-top: 20px;
   
}
.material a{

   border: 2px ;
   text-decoration: none;
   font-size: 15px; 
   color: white;
   

   border-radius: 50px;
 
   font-family: 'Poppins', sans-serif;
   padding: 10px 30px 10px 30px;
   background-color: orange;
}
.hr{
  line-height: 3;
}
#lol{
  color: orange;
}
#red{
  color: orange;
}

.relate{
  margin-top: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid white;
  background-color: white;
  border-radius: 50px;
  width: 1300px;   
}
.rev1{
  background-color: whitesmoke;
  box-shadow: 5px 7px 20px lightgray;
  border-radius: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.rev1 img{
  width: 200px;
}




.foot{
  z-index: 0;
background-color: rgb(251, 248, 248);
}
.foot p{
background-color: white;
width: 400px;
position: absolute;
text-align: center;
top:2200px;
padding: 14px;
padding-left: 30px;
padding-right: 30px;
border-radius: 50px;
color: black;
left: 540px;
font-family:  sans-serif;
}
.foot img{
  width: 900px;
  height: 600px;
  margin-left: 300px;
  opacity: 0.5;
  margin-top: 100px;   
}

/* footer */
.footer_one{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer_zone2{

  display: flex;
  align-items: center;
 font-size: 30px;
 color: black;
 margin-left: 40px;
}

.footer_zone2 i{
  padding-left: 30px;
}

.foot1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

 