*{
    margin: 0px;
    padding: 0px;
     
}

 

 

.back_ground{
    
}

.back_ground1 img{
    border-radius: 50%;
 
}
 
#username,#gender,#phone,#email,#country,#zip-code,#des{
    width: 100%;
    padding: 10px 0;
    padding-left: 30px;
    margin: 5px 0;
    outline: none;
    border: 1px solid black;
    text-align: center;
    border-right:solid 8px black ;
    font-size: 15px;
}

 .main{
    position: absolute;
    top:160px ;
    left: 200px;
    z-index: -5;
 }

 
 .main img{
    opacity: 0.3;
 }

 
.btn{
  
   
   border: none;
   border-radius: 20px;
   margin-left: 600px;
   display: flex;
   margin-top: 300px;
  

}

button{
    margin-left: 75px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
}

.display1{
    line-height: 1.5;
    position: absolute;
    top: 200px;
    left: 300px;
}

.about{
    position: absolute;
    top: 400px;
    left: 440px;
}

 
.display{
    display: flex;
    overflow: hidden;
}

 
.display2 img{
    border-radius: 100px;
  
}


.middle_div{
    display: flex;
}


.display2{
    margin-left: 1200px;
}

.about{
    margin-left: 200px;
}

button{
    
}

textarea{
    
}

#username,#lastname,#email,#phone,#country,#zip-code,#gender,#des{
    outline: none;
}

#your_art{
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-right: 20px;
    
}


button{
    cursor: pointer;
    margin-top: 100px;
}
 