/* style sheet starts */
* {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: serif;
}


.main {
    /* background-image: linear-gradient(white,#1dbf73); */
    background-image: url(asset/images/wave-haikei\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;

}

.form_class {
    width: 400px;
    height: 550px;
    position: relative;
    margin: 15% auto;
    background: whitesmoke;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 230px;
}

.but_box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #1c1a191f;
    border-radius: 30px;
}


.butn_1 {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#butn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    /* background: linear-gradient( #ff105f,#ffad06); */
    border-radius: 30px;
    /* transition: .5 s; */
}

.icons {
    margin: 30px auto;
    text-align: center;
}

.icons img {
    width: 35px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0  rgb(106, 106, 227);
    cursor: pointer;
    border-radius: 50%;
}


.input_group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s
}

.input_field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
   
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 15px;
    outline: none;
    background: transparent;
    text-align: center;

}

.submit_butn {
    width: 85%;
    color: white;
    padding: 10px 4px;

    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(106, 106, 227), white);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.submitbut {
    width: 85%;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 30px;
    display: block;
    /* margin: auto; */
    background: linear-gradient(to right, rgb(106, 106, 227), white);
    border: 0;
    outline: none;
    border-radius: 30px;
}




.checkbox {
    margin: 30px 10px 30px 0;
    margin-left: 60px;
}

/* span{
    color: #000;
    margin-left: 20px;
    font-size: 15px;
    bottom: 68px;
    position: absolute;
} */


#login {
    left: 50px;
}

#register {
    left: 450px;
}

.main {
    display: flex;
    /* margin: 100px 400px 100px 400px; */

}

.header {
    margin: 100px 400px 100px 400px;
}

.side_img img {
    margin-top: 230px;
    margin-left: 300px;
    border-radius: 10px;
}

/* pop_up */
/* 
.popup{
     width: 400px;
     background: #fff;
     border-radius: 6px;
     position: absolute;
     top: 50% ;
     left: 50%;
     /* transform: translate(-50%,-50%) scale(1); */
     /* text-align:center; 
     padding: 0;
     color: #333;  
     */
/*      
} */

/*  
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2{
     font-size: 35px;
     margin-top: 50px;
     padding: 10px 0;
     background: #6fd649;
     color: #fff;
     border: 0;
     outline: none;
     font-size: 18px;
     border-radius: 4px;
     cursor: pointer;
     box-shadow: 0 5px 5px rgba(0,0,0,0.2);
} */
 


 