*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    
     
} 

#user,#passcode{
    padding: 15px 90px 15px 90px;
    font-size: 15px;
    outline: none;
}

form{
    margin-top: 300px;
    margin-left: 600px;
}

h1{
    text-align: center;
    position: relative;
    top: 250px;
    margin-left: 60px;
}

button{
    margin-left: 90px;
    background-color: aquamarine;
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
    color: gray;
    border: none;
    border-radius: 20px;
}

.zone_full{
   
   border-radius: 10px;
   
}